/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-01-2015, 20:09:57
    Author     : Victor
*/
body {
    background: #BDBDBD; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


*{
    font-family:'Titillium Web', 'Poiret One', 'Nunito', sans-serif;
    box-sizing: border-box;
}

.display-block{
    position: relative;
    padding: 5px;
}

.navbar{
    border-radius: 0px;
}
.navbar-default{
    background-color: #E0F2F1;
    box-shadow: 0 1px 5px #999;
    
}

.margen-inf-20{
    
    margin-bottom: 20px;
}
.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
.izq{
    float: left;
    position: absolute;
}
.der{
    float: left;
    position: absolute;
    left: 35%;
}
.logo{
    background-color: #000;
    color: whitesmoke;
    text-align: center;
    font-size: 6em;
    font-weight: 200;
    font-family:'Titillium Web', 'Poiret One',"Segoe UI";
    height: 100%;
}
.logo span{
    font-size: 14pt;
}
.menu-fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 5px #999;
}
.jumbotron{
    box-shadow: 0 2px 5px #999;
}
.well{
    box-shadow: 0 1px 5px #999 inset;
}
.contenedor-navs{
    position: relative;
    max-width: 100%;
}